/*google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;1,100;1,200;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif; 
}

body{
    background-color: #171414;
    overflow: hidden;
}
:root{
    --main-color: #fe5b3d;
    --second-color: #ffac38;
    --text-color: #444;
    --gradient: linear-gradient(#fe5b3d,#ffac38);
}

html{
    overflow-y: auto;
}

html::-webkit-scrollbar {
    width: 0; 
    height: 0; 
}
html::-webkit-scrollbar-track{
    background:transparent;
}
html::-webkit-scrollbar-track{
    background: var(--main-color);
    border-radius: 3rem;
}
section{
    padding: 10px 20px;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #171414;
    padding: 15px 100px;
}
.logo img{
    width: 250px;
}
.navbar {
    display: flex;

}
.navbar li{
    position: relative;
}

.navbar a{
   font-size: 27px;
   padding: 5px 10px;
   color:#fff;
   font-weight: 500;
}
.navbar a::after{
    content: '';
    width: 0;
    height: 3px;
    background: var(--gradient);
    position: absolute;
    bottom: -4px;
    left: 0;
    transition: 0.5s;
}
.navbar a:hover::after{
    width: 100%;
}
#menu-icon{
    font-size: 24px;
    cursor: pointer;
    z-index: 10001;
    display: none;
}
.header-btn a{
    font-size: 1rem;
    padding: 10px 20px;
    color: var(--text-color);
    font-weight: 500;
}
.header-btn .sign-in{
    background: #474fa0;
    color: #fff;
    border-radius: 0.5rem;
}
.header-btn .sign-in:hover {
    background: var(--main-color);
    position: relative;
    top: 5px;
}
.header-btn .sign-up {
    color: #fff;
  
}
.header-btn .sign-up:hover {
    color: #fe5b3d;
  
}
.home{
    width: 100%;
    min-height: 100%;
    position: relative;
    background: url();
    margin: 5rem 0 1rem;
    background-repeat: no-repeat;
    background-position: center right;
    background-size: 60%;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3,2fr);
}
.home img{
    width: 180%;
    position: relative;
    left: 550px;
    top: -400px;

}
.text h1{
    margin: 10rem 0 1rem;
    font-size: 4.5rem;
    letter-spacing: 1px;
}
.text span{
    color: var(--main-color);
}
.text p{
    margin: 00.5rem 0 1rem;
    color:#fff;
    font-size: 1.2rem;
}
.text #hn{
    color:#e9e6e6;
}
.form-container form{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    position: absolute;
    bottom: 23rem;
    right: 28rem;
    background: grey;
    padding: 20px;
    border-radius: 0.5rem;
}
.input-box{
   flex: 1 1 7rem;
   display: flex;
   flex-direction: column; 
}
.input-box span{
    font-weight: 500;
}
.input-box input{
    padding: 7px;
    outline: none;
    border: none;
    background: #eeeff1;
    border-radius: 0.5rem;
    font-size: 1rem;
}
.form-container form .btn{
    flex: 1 1 7rem;
    padding: 10px 34px;
    border: none;
    border-radius: 0.5rem;
    background: #474fa0;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;

}
.form-container form .btn:hover{
    background: var(--main-color);
}
.heading{
    color: #e9e6e6;
    text-align: center;
}
.heading span{
    color: #fe5b3d;
}
.heading h1{
    font-size: 300%;
    bottom: -1rem;
    color: #e9e6e6;
    margin-bottom: -10%;
    position: relative;
    font-weight: 500;
    text-transform: uppercase;
}
.heading h1 {
    margin-top: 11rem;
    font-size: 3rem;
}
.ride-container{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit,minmax(250px,auto));
    gap: 1rem;
    margin-top: 14rem;
    color: #fff;
}
.ride-container .box{
    text-align: center;
    padding: 20px;
    
}
.ride-container .box .bx{
    font-size: 34px;
    padding: 10px;
    background: black;
    border-radius: 0.5rem;
    color: var(--main-color);
}
.ride-container .box .h2{
    font-size: 1.3rem;
    font-weight: 500;
    margin: 1.4rem 0 0.5rem;
}
.ride-container .box .bx:hover, .ride-container .bx .bxs-check-circle{
    background: var(--gradient);
    color: #fff;
}
.services-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,auto));
    gap:1rem;
    margin-top: 2rem;
}
.services-container .box{
    padding: 10px;
    border-radius: 1rem;
    box-shadow: 1px 4px 41px rgba(0, 0, 0, 1);
}
.services-container .box .box-img{
    width: 100%;
    height: 200px;
}
.services-container .box .box-img img{
    width: 100%;
    height: 200px;
    border-radius: 1rem;
    object-fit: cover;
    object-position: center;
}
.services-container .box p{
    padding: 1 10px;
    border: 1px solid var(--text-color);
    width: 40px;
    border-radius: 0.5rem;
    margin: 1rem 0 1rem;
    color: #444;
}
.services-container .box h3{
    font-weight: 500;
    color: white;
}
.services-container .box h2{
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--main-color);
    margin: 0.2rem 0 0.5rem;
}
.services-container .box h2 span{
    font-size: 0.8rem;
    font-weight: 500;
    color: var(--text-color);
}
.services-container .box .btn{
    display: flex;
    justify-content: center;
    background: #474fa0;
    color: #fff;
    padding: 10px;
    border-radius: 0.5rem;
}
.services-container .box .btn:hover{
    background: var(--main-color);
    position: relative;
    top: 5px;
    transition: 0.6s;
}
.about-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 2rem;
    align-items: center;
    gap: 1rem;
}
.about-img img{
    width: 100%;
}
.about-text span{
    font-weight: 500;
    color: var(--main-color);
    text-transform: uppercase;
}
.about-text p{
    margin: 0.5rem 0 1.4rem;
    color: #fff;
}
.about-text .btn{
    background: #474fa0;
    color: #fff;
    padding: 10px 20px;
    border-radius: 0.5rem;
}
.about-text .btn:hover{
    background: var(--main-color);
    position: relative;
    top: 5px;
    transition: 0.6s;
}
.reviews-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250,auto));
    gap: 1rem;
    margin-top: 2rem;
}
.rev-img{
    width: 70px;
    height: 70px;
}
.rev-img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    border: 2px solid var(--second-color);
}
.reviews-container .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    box-shadow: 1px 4px 41px rgba(0, 0, 0, 1);
    border-radius: 0.5rem; 
}
.reviews-container .box h2{
    font-size: 1.1rem;
    font-weight: 600;
    margin: 0.5rem 0 0.5rem;
    color: #fff;

}
.reviews-container .box p{
    font-style: italic;
    color: #fff;
}
.reviews-container .box .stars .bx{
    color: #ffac38;
}

.inner-footer{
    margin: 0;
    padding: 0;
    background-color: #fff;
}
.social-links{
    padding: 3%;
    font-size: 300%;
    color: #fe5b3d;

}
.social-links ul{
    list-style: none;

}
.social-items a{
    padding: 10px 20px;
    font-size: 35px;
    color: black;
}
.outer-footer{
    color: #e9e6e6;
}

@media (max-width:1080px)
{
    .home img{
        display: none;
    }
}
/* Making Responsive */
@media (max-width:991px){
    header{
        padding: 18px 40px
    }
    section{
        padding: 50px 40px;
    }
}

@media (max-width: 881px){
    .home{
        background-position: left;
    }
    .form-container form{
        bottom: 0.2rem;
        left: 40px;


    }
}
@media (max-width: 768px){
    header{
        padding: 11px 40px;
    }
    #menu-icon{
        display: initial;
    }
    .sign-up{
        display: none;
    }
    .text h1{
        font-size: 2.5rem;

    }
    .home{
        grid-template-columns: 1fr;
    }
    .form-container form{
        position: unset;

    }
    header .navbar{
        position: absolute;
        top: -500px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background: #fff;
        box-shadow: 0 40px 4px rgba(0, 0, 0, 1);
        transition: 0.2s ease;
        text-align: left;
    }
    .navbar.active{
        top: 100%;
    }
    .navbar a{
        padding: 1rem;
        border-left: 2px solid var(--main-color);
        margin: 1rem;
        display: block;

    }
    .navbar a:hover{
        color:#fff;
        background: var(--main-color);
        border: none;


    }
    .navbar a::after{
        display: none;
    }
    .heading span{
        font-size: 0.9rem;
        font-weight: 600;
    }
    .heading h1{
        font-size: 1.3rem;
    }
    .about-container{
        grid-template-columns: 1fr;
        text-align: center;
    }
    .about-img{
        padding: 1rem;
        order: 2rem;


    }

}
@media (max-width: 568px){
    .copyright{
        flex-direction: column;
    }
    .inner-footer{
        width: 100%;
    }
    .form-container{
        padding-top: 2rem;
    }

}
@media (max-width: 350px){
    header{
        padding: 6px 14px;
    }
    .logo img{
        width: 30px;
    }
    section{
        padding: 50px 14px;
    }
    .header-btn .sign-in{
        padding: 7px 10px;
        font-size: 14px;
        font-weight: 400;
    }
    .text h1{
        font-size: 2rem;
    }
    .services-container{
        grid-template-columns: repeat(auto-fit,minmax(254px,auto));
    }
}
